<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Turtle/TurtleBelly.png</key>
		<dict>
			<key>frame</key>
			<string>{{320, 1}, {317, 83}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {317, 83}}</string>
			<key>sourceSize</key>
			<string>{317, 83}</string>
		</dict>
		<key>Turtle/TurtleBody.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {317, 208}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {317, 208}}</string>
			<key>sourceSize</key>
			<string>{317, 208}</string>
		</dict>
		<key>Turtle/TurtleHead.png</key>
		<dict>
			<key>frame</key>
			<string>{{320, 86}, {250, 196}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {250, 196}}</string>
			<key>sourceSize</key>
			<string>{250, 196}</string>
		</dict>
		<key>Turtle/TurtleLeg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 211}, {129, 210}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {129, 210}}</string>
			<key>sourceSize</key>
			<string>{129, 210}</string>
		</dict>
		<key>Turtle/TurtleShell.png</key>
		<dict>
			<key>frame</key>
			<string>{{639, 1}, {314, 207}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {314, 207}}</string>
			<key>sourceSize</key>
			<string>{314, 207}</string>
		</dict>
		<key>Turtle/TurtleShortLegs.png</key>
		<dict>
			<key>frame</key>
			<string>{{213, 211}, {94, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {94, 117}}</string>
			<key>sourceSize</key>
			<string>{94, 117}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>Turtle.png</string>
	</dict>
</dict>
</plist>
