<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ClamArt/ClamBottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1480}, {1342, 484}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 4}, {1342, 484}}</string>
			<key>sourceSize</key>
			<string>{1348, 488}</string>
		</dict>
		<key>ClamArt/ClamTop.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {819, 1477}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 4}, {819, 1477}}</string>
			<key>sourceSize</key>
			<string>{824, 1484}</string>
		</dict>
		<key>ClamArt/EyeDot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1966}, {33, 33}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {33, 33}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ClamArt/EyeOutline.png</key>
		<dict>
			<key>frame</key>
			<string>{{1763, 1}, {164, 204}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {164, 204}}</string>
			<key>sourceSize</key>
			<string>{168, 208}</string>
		</dict>
		<key>ClamArt/Pearl.png</key>
		<dict>
			<key>frame</key>
			<string>{{1345, 153}, {196, 196}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {196, 196}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>ClamArt/Tongue.png</key>
		<dict>
			<key>frame</key>
			<string>{{822, 1}, {939, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {939, 150}}</string>
			<key>sourceSize</key>
			<string>{940, 152}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>ClamArt.png</string>
	</dict>
</dict>
</plist>
