<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Turtle/TurtleBelly.png</key>
		<dict>
			<key>frame</key>
			<string>{{637, 1}, {634, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {634, 166}}</string>
			<key>sourceSize</key>
			<string>{634, 166}</string>
		</dict>
		<key>Turtle/TurtleBody.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {634, 416}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {634, 416}}</string>
			<key>sourceSize</key>
			<string>{634, 416}</string>
		</dict>
		<key>Turtle/TurtleHead.png</key>
		<dict>
			<key>frame</key>
			<string>{{637, 169}, {501, 392}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {501, 392}}</string>
			<key>sourceSize</key>
			<string>{501, 392}</string>
		</dict>
		<key>Turtle/TurtleLeg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 419}, {258, 420}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {258, 420}}</string>
			<key>sourceSize</key>
			<string>{258, 420}</string>
		</dict>
		<key>Turtle/TurtleShell.png</key>
		<dict>
			<key>frame</key>
			<string>{{1273, 1}, {629, 415}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {629, 415}}</string>
			<key>sourceSize</key>
			<string>{629, 415}</string>
		</dict>
		<key>Turtle/TurtleShortLegs.png</key>
		<dict>
			<key>frame</key>
			<string>{{423, 419}, {188, 234}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {188, 234}}</string>
			<key>sourceSize</key>
			<string>{188, 234}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Turtle.png</string>
	</dict>
</dict>
</plist>
